.news-component {
  width: 160px;
}

.news-img {
  width: 160px;
  height: 110px;
}

.news-title {
  text-align: left;
  margin-bottom: 10px;
  color: #4a2511;
}

.category {
  color: #a9a9a9;
  text-align: left;
  font-size: 12px;
}
